<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="app">
    <div ng-controller="General">
        <input type="text" ng-model="entry.date" placeholder="Date">
        <input type="text" ng-model="entry.debitTitle" placeholder="Debit Title">
        <input type="text" ng-model="entry.debitAmount" placeholder="Debit Amount">
        <input type="text" ng-model="entry.creditTitle" placeholder="Credit Title">
        <input type="text" ng-model="entry.creditAmount" placeholder="Credit Amount ">
        <button type="submit" ng-click="add(entry)">submit</button>



        <br> <br>
        <table width="50%">

            <tr ng-repeat="(key,value) in generalJournal">
                <td>{{key}}</td>
                <td>
                    <table width="100%">
                        <tr ng-if="$index == 0">
                            <th width="200">Title</th>
                            <th width="50">Debit</th>
                            <th width="50">Credit</th>
                        </tr>
                        <tr ng-repeat="(xkey,xvalue) in value">
                            <td width="200" class="indent">{{xkey}}</td>
                            <td width="50">{{xvalue.Debit}}</td>
                            <td width="50">{{xvalue.Credit}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div ng-controller="Ledger-Posting">
        <div ng-repeat="(key,value) in testing">
            {{key}} --- {{value}}


            <table>
                <tr>
                    <td>Debit</td>
                    <td>Balance</td>
                    <td>Credit</td>
                    <td>Balance</td>
                </tr>

                <tr ng-repeat="(keyN , valueN) in value">
                    <td>{{valueN.Debit}}</td>
                     <td > {{valueN.DebitBalance}}</strong></td>
                    <td>{{valueN.Credit}}</td>                   
                    <td >{{valueN.CreditBalance}}</td>
                </tr>


            </table>

        </div>


      
    </div>


</body>

</html>